{{ define "header" -}}
  {{ partial "header.html" . }}
{{- end }}

{{ define "content" -}}
  <div class="posts">
    {{ range (where .Data.Pages "Type" "not in" (slice "page")).GroupBy "Section" -}}
    {{ range .Pages }}
      <div class="post">
        <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ if .Draft }}<sup> <i class="fas fa-pen-square fa-xs"></i></sup>{{ end }}</h1>
        <span class="post-date">
          {{- .Date.Format (.Site.Params.dateformat | default "Jan 02, 2006") -}}
        </span>
          {{ .Summary }}
        {{- if .Truncated }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{- end }}
        </div>
        {{- end -}}
     {{- end }}
  </div>
{{- end }}

{{ define "footer" -}}
{{- end }}